/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 12, 2019, 12:40:10 PM
    Author     : hp
*/
.design{
    padding: 70px;
    margin-left: 500px;
   
}

input[type=text], input[type=password]{
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-color: black;
    background: white;
}